extends layout

block content
  h1 Cadastro de Produtos de Informática
  button 
    a(href="/login") Entrar
  button
    a(href="produto") Ver Produtos

block ver
  footer.rodape
    div 
      h1 Desenvolvido por 	&copy; Antonio Emanuel  França Freitas 
      h1 2024                              