extends layout

block content
  h1 Login

  if error
    p.error= error

  form.pure-form(action="/login", method="post")
    fieldset.pure-group
      input(type="email", id="email", name="email", placeholder="Email" required)

      input(type="password", id="senha", name="senha", placeholder="Senha" required)

      button.pure-button.pure-input-1-2.pure-button-primary(type="submit") Entrar
block ver
  footer.rodape
    div 
      h1 Desenvolvido por 	&copy; Emanuel Freitas
      h1 2024